[alias]
	co = checkout
	dlog = log --decorate --oneline --graph
	rs = restore
	rss = restore --staged
	fpush = push --force-with-lease
	wt = "!f() { git worktree add -b \"$1\" \"../$1\" \"origin/$1\"; }; f"
[core]
	editor = nvim
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
